<div class="container py-4">
<header class="pb-3 mb-4 border-bottom">
<a href="/" class="d-flex align-items-center text-dark text-decoration-none">
    <h2 class="fw-bold"><span class="fs-2">À Propos</span></h2>
</a>
</header>
<div class="p-5 mb-4 bg-light rounded-3">
    <h2>Qu'est ce que "Fake Name Generaor Dz"</h2>
    <p>Fake name generator dz est un outil en ligne où vous pouvez rapidement générer de faux noms algérien
         aléatoires à partir d'une base de données. Vous pouvez ajuster les paramètres de l'outil pour générer plusieurs faux noms selon le genre et la langue.</p>
    <p>Cet outil est créé à des fins ludiques uniquement. Nous ne sommes jamais responsables de vos actions.</p>
    <p>Fake name generator dz créera des noms féminins et masculins avec un prénom et un nom de famille algerien. Vous pouvez générer jusqu'à 100 noms à la fois et il n'y a pas de limite au nombre de fois que vous pouvez utiliser l'outil.</p>
    <h2>Qui a Créer Fake Name Generator Dz</h2>
    <p>je m'appelle Yasmine. Je suis un Full-Stack Developer passionnée par la création de sites Web et d'outils.</p>
    <p>Ce projet est en open source, vous pouvez le trouver sur <a href="https://github.com/yasmine8" class="link-primary">GitHub</a></p>
    <h2>Quelques cas d'utilisation pour lesquels vous pourriez utiliser cet outil:</h2>
    <p>
        <li>En tant que données factices pour votre application.</li>
        <li>Pour les fausses adresses e-mail.</li>
        <li>Pour créer de faux comptes et noms d'utilisateur en ligne.</li>
        <li>Comme nom de personnage en ligne pour les jeux.</li>
        <li>En tant que faux noms pour les profils de réseaux sociaux pour Facebook, Instagram ou Twitter.</li>
    </p>
</div>
</div>