<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
   <div class="container-fluid">
     <a class="navbar-brand" href="#">Fake Name Generator Dz</a>
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
    
     <div class=" collapse navbar-collapse" id="navbarNavDropdown">
       <ul class="navbar-nav ms-auto ">
         <li class="nav-item">
           <a class="nav-link mx-2 " [routerLinkActive]="'active'" aria-current="page" href="#" routerLink="generate">Acceuil</a>
         </li>
         <li class="nav-item">
           <a class="nav-link mx-2" [routerLinkActive]="'active'" type="button" [routerLink]="'ajouter'">Participer</a>
         </li>
         <li class="nav-item" >
           <a class="nav-link mx-2" [routerLinkActive]="'active'" type="button" [routerLink]="'about'">À Propos</a>
         </li>
       </ul>
     </div>
   </div>
   </nav>
<!-- -->
 <router-outlet></router-outlet>
