
<div class="position-relative overflow-hidden p-3 px-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 fw-normal">Comment participer ?</h1>
        <p class="lead fw-normal">Aidez nous a remplir la base de données en entrant des noms et prénoms Algérien.</p>
    </div>
</div>
<!--<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">-->
<div class="position-relative overflow-hidden px-3  ">
    <div class=" row">
        <div class="col col-md-12 col-lg-6 col-sm-12 col-xs-12 ">
            <div class="text-bg-dark    py-md-5 py-sm-5 px-md-5  text-center overflow-hidden">
                <div class="my-3 py-3">
                    <h2 class="display-5">Nom</h2>
                    <p class="lead">Ajouter un nom de famille Algerien à la base de données.</p>
                </div>
                <button type="button" class="btn btn-light  shadow-sm mx-auto" style="width: 80%; height: 100px; border-radius: 21px 21px 21px 21px;" data-bs-toggle="modal" data-bs-target="#nomModal">Nom</button>
            </div>
        </div>
        <div class="col col-md-12 col-lg-6 col-sm-12 col-xs-12" >
            <div class="bg-light py-md-5 py-sm-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 p-3">
                    <h2 class="display-5">Prénom</h2>
                    <p class="lead">Ajouter un prénom Algérien à la base de données.</p>
                </div>
                <button type="button" class="btn btn-dark shadow-sm mx-auto" style="width: 80%; height: 100px; border-radius: 21px 21px 21px 21px;" data-bs-toggle="modal" data-bs-target="#prenomModal">Prenom</button>
            </div>
        </div>
        
    </div>
</div>

<!-- Nom Modal -->
<div class="modal fade" id="nomModal" tabindex="-1" role="dialog"  aria-labelledby="nomModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <form #nomForm="ngForm" (ngSubmit)="onAddNom(nomForm)">
    <div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="nomModalLabel">Ajouter Nom</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="mb-3">
            <label class="form-label">Nom en français</label>
            <input type="text" class="form-control" name="nomFr" #nomFr="ngModel" ngModel required pattern="[a-zA-Z àâäèéêëîïôœùûüÿçÀÂÄÈÉÊËÎÏÔŒÙÛÜŸÇ]+$" >
            <div [hidden]="nomFr.valid || nomFr.pristine" class="text-danger">Doit contenir que des caractères français</div>
        </div>
        <div class="mb-3">
            <label class="form-label">Nom en arabe</label>
            <input type="text" class="form-control" name="nomAr" ngModel #nomAr="ngModel" required pattern="[گچپژیلفقهمو ء-ي]+$">
            <div [hidden]="nomAr.valid || nomAr.pristine" class="text-danger">Doit contenir que des caractères arabes</div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" id="add-nom-form" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        <button [disabled]="nomForm.invalid" data-bs-dismiss="modal" type="submit" class="btn btn-primary">Sauvegarder</button>
    </div>
    </div>
    </form>
</div>
</div>

<!-- Prenom Modal -->
<div class="modal fade" id="prenomModal" tabindex="-1" aria-labelledby="nomModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form #prenomForm="ngForm" (ngSubmit)="onAddPrenom(prenomForm)">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="nomModalLabel">Ajouter Prénom</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label class="form-label">Prenom en français</label>
                <input type="text" class="form-control" name="prenomFr" ngModel #prenomFr="ngModel" required pattern="[a-zA-Z àâäèéêëîïôœùûüÿçÀÂÄÈÉÊËÎÏÔŒÙÛÜŸÇ]+$">
                <div [hidden]="prenomFr.valid || prenomFr.pristine" class="text-danger">Doit contenir que des caractères français</div>
            </div>
            <div class="mb-3">
                <label class="form-label">Prenom en arabe</label>
                <input type="text" class="form-control" name="prenomAr" ngModel #prenomAr="ngModel" required pattern="[گچپژیلفقهمو ء-ي]+$">
                <div [hidden]="prenomAr.valid || prenomAr.pristine" class="text-danger">Doit contenir que des caractères français</div>
            </div>
            <div class="mb-3">
                <label class="form-label">Genre</label>
                <select class="form-select"  name="genre" ngModel required>
                <option value="B">Les deux</option>
                <option value="M">Mâle</option>
                <option value="F">Femelle</option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="add-prenom-form" data-bs-dismiss="modal">Fermer</button>
            <button [disabled]="prenomForm.invalid" data-bs-dismiss="modal" type="submit" class="btn btn-primary">Sauvegarder</button>
        </div>
        </div>
        </form>
    </div>
    </div>

  

  
